@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
button:focus {
  outline: none !important;
}
button {
  cursor: default !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: absolute;
  width: 200%;
  height: 614px;
  left: -117px;
  top: -230px;
  background: linear-gradient(360deg, #04063f 28.34%, rgba(68, 68, 68, 0) 74.1%),
    linear-gradient(
      270deg,
      rgba(1, 27, 60, 0.95) -3.09%,
      rgba(13, 2, 56, 0) 33.22%
    ),
    linear-gradient(90deg, #232323 3.26%, rgba(45, 45, 45, 0) 29.15%);
  background-blend-mode: normal, color-burn, normal, normal;
}

.rippleClass {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ripple-span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
}

@keyframes abc {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
